.modal{
    width: 250px;
    padding: 25px;
    text-align: center;
    border-radius: 17px;
    background: rgb(248, 5, 5);
    position: fixed;
    bottom: -200px;
    left: calc(50% - 125px);

    transition-property: bottom;
    transition-duration: 400ms;
    transition-timing-function: linear;
}
.modal p{
    color: white;

}
.modal.show{
    bottom: 20px;
}